body {
  font-family: 'Roboto', sans-serif;
  color: #303030;
  max-width: 1000px;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  color: skyblue;
  text-decoration: underline;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.sidenav a {
  padding: 6px 8px 6px 30px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 16px; /* Increased text to enable scrolling */
  text-align: justify;
  letter-spacing: 0.8px;
  line-height: 1.6;
  padding: 0px 10px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-weight: 400;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 13px;
  }
}
#gray-highlight-box {
  border: solid 1px gray;
  border-radius: 5px;
  background-color: #e8e8e8;
  padding: 5px;
}

#yellow-highlight-box {
  border: solid 1px gray;
  border-radius: 5px;
  background-color: lightyellow;
  padding: 5px;
}
span {
  background-color: #e8e8e8;
}
